html{
    font-size: 10px;
}

html{
    font-size: 62.5%;
}

/* ----------------

emを使用した場合

------------------*/

/* .parent{
    font-size: 1.2em;
}

.child{
    font-size: 1.2em;
} */

/* ーーーーーーーーーーーー

remを使用した場合

ーーーーーーーーーーーーー*/

.parent{
    font-size: 1.2rem;
}

.child{
    font-size: 1.2rem;
}
/* -------------------

backgroundプロパティ

---------------------*/
/* .sample{
  background: url('../images/nuno13_sp\ \(1\).png') no-repeat;
} */

/* .sample{
  background-color: transparent;→初期値：透明
  background-image: url('../images/nuno13_sp\ \(1\).png');→背景画像がtransparentに上書きされた
  background-repeat: no-repeat;
  background-position: 0% 0%;→初期値
  background-size: auto;→初期値
  background-attachment: scroll;→初期値
} */

.sample{
  background-color: blue;
  background: url('../images/nuno13_sp\ \(1\).png') no-repeat;
}

/* -----------------------

box-shadow　プロパティ

----------------------- */

/* boxの外にシャドウ */
.box-shadow{
  margin-top: 10px;
  width: 200px;
  height: 200px;
  background: pink;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
}

/* boxの内側にシャドウ */
.box-shadow2{
  margin-top: 10px;
  width:200px;
  height: 200px;
  box-shadow: inset 0 0 10px 30px blue;
}

.box-shadow3{
  margin-top: 10px;
  width: 200px;
  height: 200px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5), inset 0 0 20px 2px yellow;
}

/*---------------------------

マージンの相殺

---------------------------*/
.box{
  width: 100px;
  height: 100px;
  background: orange;
  margin: 20px;
}

.box-large{
  width: 100px;
  height: 100px;
  background: yellow;
  margin: 30px;
}

.parent{
  background: yellow;
  width: 200px;
  height: 100px;
}

.child{
  background: pink;
  width: 50%;
  height: 50%;
  margin-top: 20px;
}

.parent2{
  background: yellow;
  width: 200px;
  height: 100px;
  border: 1px dashed black;
}

.font{
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.kadomaru{
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 8px;
}